---
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About | Alexander Jay" description="About Alexander Jay">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/me-sound.jpg"
					alt="AJ"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I work within cybersecurity and engineering, with a dyslexic curiosity for all things tech. I have a passion for learning and sharing knowledge, and I am always looking for new ways to improve myself and my skills.
						I enjoy using a hands-on approach to building, testing and improving the world around me, and I am always looking for new challenges to tackle. 
					</p>
					<p>
						Wether it's modifying my home lab or building a new project, I am always looking for ways to learn and try new things.
						Outside of work, I enjoy photography, <i>have you seen the photography page</i>, music and cooking.
					</p>
					<p>
						When I'm not working or tinkering with tech, you can find me with a camera taking photos of the world around me.
						I also enjoy attending supporting the concerts and festivals as an audio engineer.
						Overall, I am a curious and driven individual who is always looking for new ways to learn, both personally and professionally.
						I am excited to see where my journey takes me next, and I am always open to new opportunities and experiences.
						Feel free to reach out if you want to!
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p><b>2023-2026</b> - Cranfield University 
						- Postgraduate Diploma in Engineering competence</p>
					<p><b>2019-2023</b> - Edge Hill University 
						- Bachelor of Science in Computing (Networking, Cybersecurity and Digital Forensics) - First Class with Honours</p>
					<p><b>2017-2019</b> - Colchester Institute 
						- BTEC Level 3 Extended Diploma in Computing - D* D* D</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Skills....hmm...</p>
					<p>I make good egg fried rice???</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
